PORT=5000
DATABASE_URL="mongodb+srv://<username>:<password>@cluster.mongodb.net/YourDB?retryWrites=true&w=majority"
DATABASE_URL_TEST="mongodb://localhost:27017/test_db"
JWT_SECRET="your_strong_256_bit_secret_here"
CORS_ORIGIN="http://localhost:3000"
